/* RESET CSS */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  text-align: justify;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: inherit;
  font-family: "Source Sans 3", sans-serif;
  flex-shrink: 0;
  flex-grow: 0;
  font-weight: normal;
}

nav, main, aside, footer, header, section {
  display: block;
}

ul, ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

input, button, select, textarea {
  font: inherit;
  color: inherit;
  background-color: transparent;
}

button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.center{
	display: flex;
	align-items: center;
	justify-content:center;
}
body .wrapper{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .wrapper > section{
    /* transform: translateX(-5%); */

/* Styling Starts */

body{
	line-height: 1.5;
	font-size: 16px;
	color: black;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: white;
}
.credentialsOuter{
	width: 100%;
	background-color:#222222;
	display: flex;
	justify-content:space-between;
	align-items: flex-end;
	color: white;
	padding: 10px 50px;
	position: fixed;
	top:0;
	z-index: 9999;
	font-size: 1em;
    /* height: 54px;
    margin-top: -100px */
}
.credentialsOuter > div{
	display: flex;
	align-items: center;
}
.credentialsOuter > div.left > *{
	margin: 0 5px;
	font-weight: 600;
}
.credentialsOuter > div.right > *{
	margin: 0 10px;
}
@media screen and (max-width: 1200px) {
    .credentialsOuter{
    	padding: 10px 25px;
    }
}
.backgroundImage{
	position: fixed;
	z-index: -1;
	top: 44px; left: 0;
	height: 500px;
	width: 100%;
	background-image: url('https://images.pexels.com/photos/11756345/pexels-photo-11756345.jpeg');
	background-size:cover;
	background-position: center;
}
body .bg{
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
}
body .bg > *{
	max-width: 1000px;
}
.wrapper section{
    width: 100%;
}
@media screen and (max-width: 1200px) {
    body .bg > *{
        width: 80% !important;
    }
    *{
        text-align: left;
    }
}
.landing{
    margin-top: 44px;
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}
.landing h1{
	font-size: 2em;
	font-weight: 800;
	/* background-color: #336699; */
	border-radius: 5px;
	padding: 10px 20px;
}
.landing h2{
	font-size: 1.5em;
	font-weight: 800;
	margin-top:0;
}
@media screen and (max-width: 1200px) {
    .landing, .backgroundImage{
        height: 50vh;
    }
    .landing h1{
        font-size: 2em;
    }
    .landing h2{
        font-size: 1.5em;
        font-weight: 800;
        margin-top:0;
    }   
}
@media screen and (max-width: 800px) {
    *{
        text-align: left!important;
    }
    .landing, .backgroundImage{
        height: 50vh;
    }
    .landing h1{
        font-size: 1.5em;
        text-align: center;
    }
    .landing h2{
        font-size: 1em;
        font-weight: 800;
        margin-top:0;
    }   
}
.content{
    background-color: white;
    padding-top: 80px;
    /* margin-top: 00px; */
	padding-bottom: 20px !important;
}
.contentInner{
	width: 60%;
	margin: 0;
	padding: 0;
}
.contentInner > *{
	text-align: justify;
	margin-bottom: 20px;
}
span.bold{
	font-weight: 900;
	font-size: 1em;
}

/* Internal Navigation */
/* .navigationInner{

} */


/* LINKS */
.links{
	margin-top: 20px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.links >div{
	border-radius: 10px;
	/* flex-grow: 1; */
	margin-bottom: 20px;
	flex-shrink: 1;
	width: 49%;
	height: 250px;
	background-color: black;
	background-size: cover;
	position: relative;
	/* background-position: 0 -100%; */
}
@media screen and (max-width: 800px) {
	.links > div{
		width: 100%;
	}
}
.links a{
	width: 100%;
	height: 100%;
	padding: 20px 50px;
	display: flex;
	align-items: flex-end;
	/* background: #424242;
	background: #000000; */
	opacity: 1;
	background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.52) 28%, rgba(0, 0, 0, 0) 100%);
	transition: opacity 0.25s ease-out;
	border-radius: 10px;
}
 .links > div >p{
	position: relative;
	z-index: 9;
	bottom: 20%;
	left: 5%;
	font-weight: 800;
	font-size: 1.2em;
	color: white;
}
.links a:hover{
	opacity: 0.5;
}

/* LOADER */
section.loader{
	width: auto;
	background-color: transparent; 
	position: fixed;
	top: calc(50% + 22px);
	right: calc(2.5%);
	transform: translate(0, -50%);
	z-index: 99;
	width: fit-content !important;
	/* padding-bottom: 0px; */
	padding-bottom: 0px;
	/* padding-top: 20px; */
    /* box-shadow: 0px 10px 20px 5px rgba(103, 103, 103, 0.384); */
	/* border-bottom: 2px dashed black; */
	opacity: 1;
	transition: opacity linear 200ms;
	background-color: transparent;
	/* transition: box-shadow padding ease-in 100ms; */
}
section.loader.LONG{
	opacity: 0;
	box-shadow: none;
	border-bottom: 0;
	background-color: transparent;
}
.loaderInner{
	/* box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.111); */
	width: auto;
	max-width: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px 0;
	border-radius: 10px;
	/* backdrop-filter: blur(10px); */
	/* background-color: rgba(0, 0, 0, 0.2); */
	padding: 20px;
}
.loaderInner .between{
	width: 1em;
	height: 15vh;
	border: 2px solid black;
	border-top: 0;
	border-bottom: 0;
}
.loaderInner .between.end:first-of-type{
	border-top: 2px solid black;
}
.loaderInner .between.end:last-of-type{
	border-bottom: 2px solid black;
}
.loaderInner .item{
	/* width: 120px; */
	width: 1.5em;
	border-radius: 5px;
	height: 1.5em;
	border: 2px solid black;
	/* border-radius:5px; */
	position: relative;
	background-color: #2980B9;
}
.loaderInner .item a{
	height: 100%;
	/* width: 90px; */
	width: fit-content;
	position: relative;
	transform: translate(-50%, 0);
	left: -30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color:#2980B9;
	color: black;
	/* font-weight: 800; */
	/* border-radius: 5px; */
	font-size: 0.85em;
	border-bottom: 1px solid black;
	/* backdrop-filter: blur(10px); */
	text-align: left;
	display: flex;
	align-items: flex-start;
	/* padding: 20px; */
	/* background-color: rgba(0, 0, 0, 0.2); */
	/* background-color: #2980B9; */
	box-shadow: none;
	transition: border linear 00ms;	
	/* border: 1px solid black; */
	/* display: none; */
}
.loaderInner .item a:hover{
	/* box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.111); */
	/* opacity: 0.9;; */
	/* border-bottom: 2px solid black; */
	/* font-weight: 800; */
	color: #2980B9;
	border-bottom: 1px solid #2980B9;

}
.loaderInner .between{
	background-color: #F1862D;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	position: relative;
	border-top: 0;
	border-bottom: 0;
	flex-shrink: 0;
	
}
.loaderInner .between > div.empty{
	width: 3px;
	height: 100%;
	background-color: white;
	position: relative;
}

.loaderInner .full{
	width: 3px;
	height: 100%;
	background-color: #2980B9;
	position: relative;
	top: -100%;
	transition: height 0.1s linear;
	  /* box-shadow:
		0 0 5px 0px #fff, 
		0 0 7px 0px #f0f, 
		0 0 9px 0px #0ff;  */
}
.loaderInner .full.off{
	height: 0%;
	box-shadow: unset;
}
@media screen and (max-width: 1200px) {
	section.loader{
		display: none;
	}
}