/* Loader */
/* body> section:last-of-type{
	padding-bottom: 1000px;
} */
section.loader{
	width: 100%;
	background-color: transparent; 
	position: fixed;
	top: 44px;

	z-index: 99;
	/* padding-bottom: 0px; */
	padding-bottom: 0px;
	padding-top: 20px;
    /* box-shadow: 0px 10px 20px 5px rgba(103, 103, 103, 0.384); */
	/* border-bottom: 2px dashed black; */
	opacity: 1;
	transition: opacity linear 200ms;
	background-color: transparent;
	/* transition: box-shadow padding ease-in 100ms; */
}
section.loader.LONG{
	/* padding-bottom: 20px; */
	opacity: 0;
	/* display: none; */
	/* padding-top: 50px; */
	box-shadow: none;
	border-bottom: 0;
	background-color: transparent;
}
.loaderInner{
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.111);
	width: 60%;
	max-width: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding: 20px 0;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.2);
}
.loaderInner .between{
	width: 100px;
	height: 1em;
	border: 2px solid black;
	border-right: 0;
	border-left: 0;
}
.loaderInner .between.end:first-of-type{
	border-left: 2px solid black;
}
.loaderInner .between.end:last-of-type{
	border-right: 2px solid black;
}
.loaderInner .item{
	width: 120px;
	height: 3em;
	border: 2px solid black;
	border-radius:5px;
	position: relative;
}
.loaderInner .item a{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2980B9;
	color: white;
	font-weight: 900;
}
.loaderInner .item a:hover{
	opacity: 0.9;;
}
.loaderInner .between{
	background-color: #F1862D;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	
}
.loaderInner .between > div.empty{
	width: 100%;
	height: 3px;
	background-color: white;
	position: relative;
}

.loaderInner .full{
	width: 100%;
	height: 3px;
	background-color: #2980B9;
	position: relative;
	right: 100%;
	transition: width 0.1s linear;
	  /* box-shadow:
		0 0 5px 0px #fff, 
		0 0 7px 0px #f0f, 
		0 0 9px 0px #0ff;  */
}
.loaderInner .full.off{
	width: 0%;
	box-shadow: unset;
}
@media screen and (max-width: 1200px) {
	section.loader{
		display: none;
	}
}

/* Prizes */

.prizesInner{
	width: 60%;
	display: flex;
	flex-direction: column;
}
h3.subtitle{
	font-weight: 900;
	margin-bottom: 20px;
}
.prizesInner p{
	margin-bottom: 20px
}
.prizes .links{
	width: 60%;
}


.prizes .random{
	background-image: url('/media/lhc.jpg');
	background-position: 0 50%;
}
.prizes .exclusive{
	background-image: url('/media/reas.jpg');
	background-position: 0 50%;
}


/* Rules */
section.rules{
	padding: 0;
}
.rulesInner{
	width: 60%;
	display: flex; 
	flex-direction: column;
	align-items: flex-start;
}
.rules .text >p {
	margin-bottom: 20px
}
.rules ol{
	/* margin: 20px 0; */
	list-style:decimal;
	list-style-position: inside;
	width: 100%;
}
.rules li{
	margin-bottom: 10px;
}
/* Misc */
section.end{
	background-color: white;
	height: 1000px;
	width: 100%;
}
/* body> section:last-of-type{
	padding-bottom: 100px;
} */

/* Topics */
.topicsInner{
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
section.topics{
	padding-bottom: 0;
}

.links{
	margin-top: 20px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.links >div{
	border-radius: 10px;
	/* flex-grow: 1; */
	margin-bottom: 20px;
	flex-shrink: 1;
	width: 49%;
	height: 250px;
	background-color: black;
	background-size: cover;
	position: relative;
	/* background-position: 0 -100%; */
}
@media screen and (max-width: 800px) {
	.links > div{
		width: 100%;
	}
}
.links a{
	width: 100%;
	height: 100%;
	padding: 20px 50px;
	display: flex;
	align-items: flex-end;
	/* background: #424242;
	background: #000000; */
	opacity: 1;
	background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.52) 28%, rgba(0, 0, 0, 0) 100%);
	transition: opacity 0.25s ease-out;
	border-radius: 10px;
}
 .links > div >p{
	position: relative;
	z-index: 9;
	bottom: 20%;
	left: 5%;
	font-weight: 800;
	font-size: 1.2em;
	color: white;
}
.links a:hover{
	opacity: 0.5;
}
.topics>div> p{
	margin-bottom: 20px;
}
.topics .qm{
	background-image: url('/media/qm.jpeg');
	background-position: 0 50%;
}
.topics .accel{
	background-image: url('/media/collision.png');
	background-position: 0 50%;
}
.topics .medical{
	background-image: url('/media/medical.webp')
}
.topics .astr{
	background-image:url('/media/astr.jpg')
}
/* Register */
section.register{
	height: auto;
}